body {
    background-color: rgba(182, 198, 190, 0.763);
    margin: 0;
    padding: 0;
}


.labels {
    background: url("./images/Home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.labels h1 {
    text-align: center;
    font-style: italic;
    border-top: 25px solid rgb(191, 241, 191);
    margin: 0;
    padding: 0;
    padding-top: 50px;
    font-size: 50px;
    color: rgb(255, 255, 255);

}

.labels h3 {
    text-align: center;
    font-style: italic;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    font-size: 40px;
    color: rgb(255, 255, 255);
}

nav {
    background-color: rgb(191, 241, 191);
    padding: 5px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    padding-left: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    transition: ease-in-out 500ms;
}

nav a:hover {
    color: rgb(86, 139, 86);
    transition: ease-in-out 500ms;
}

.footer_wrap {
    color: #8F9779;
    padding: 5px;
    text-align: center;
}

footer{
    background-color: #A9BA9D;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}